*.zip
*.ttf
*.otf
*.eot
*.woff
*.woff2
*.code-workspace
*.sublime-project
*.sublime-workspace

backup-wpcm-admin-views-html-quick-edit-match.php
class-usardb-wpcm-meta-box-match-details-custom.php
class-usardb-wpcm-meta-box-match-player-enhancements.php
class-usardb-wpcm-meta-box-player-details.php